.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(255, 255, 0);
}

.program {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    color: black;
    text-decoration: none
}

.container {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 0.2fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  grid-template-areas: 
    "plist plist plist"
    "ref plus actual"
    "ref but actual"
    "ref minus actual";
  grid-gap: 0.2rem;
}

#plist {
  background: white;
  grid-area: plist;
}

#ref {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15em;
  background: lightgray;
  grid-area: ref;
}

#actual {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15em;
  background: lightgray;
  grid-area: actual;
}

#plus {
  background: white;
  grid-area: plus;
}

#but {
  background: white;
  grid-area: but;
}

#minus {
  background: white;
  grid-area: minus;
}

/* @media only screen and (max-width:480px) {
  .container{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr;
      grid-template-areas: 
      "plist plist plist"
      "ref ref ref"
      "plus but minus"
      "actual actual actual"
  }
} */